

    <style>
        body {

            background-image: url('https://peakbusinessvaluation.com/wp-content/uploads/value-drivers-for-an-auto-mechanic-shop-1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>


    
 <main class="container my-5">
        <section id="services" class="mb-5">
            <h2 class="text-center text-white bg-dark py-2 rounded"
                style="font-family: cursive; font-size: 50px; opacity: 0.8;">
                Our Services
            </h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {{#each service}}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </main>
   


